.container{
    width: 600px;
    height: 250px;
    background-image: url("../resources/img/18f0be3c7042350e1f2203bbf48a2507c95bf05cr1-500-278_00.gif");
    background-repeat: no-repeat;
    background-size: cover;
}